@import "tailwindcss";

:root {
  --background: #001220;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans-arabic);
}

body {
  background: linear-gradient(160deg, #001220 0%, #003559 55%, #0353a4 100%)
    fixed;
  color: var(--foreground);
  font-family: var(--font-ibm-plex-sans-arabic), Arial, Helvetica, sans-serif;
  min-height: 100%;
}
